.table-view .column-header {
  -fx-background-color:  #5c524f;
  -fx-border-color:  black;
}

.table-view .column-header .label {
    -fx-text-fill: #e1be66;
    -fx-font-weight: bold;
}

.table-view {
  -fx-background-color:  #827571;
}

.button {
  -fx-background-color: #56503E;
  -fx-background-radius: 7;
  -fx-font-size: 15;
  -fx-text-fill: #e1be66;
  -fx-font-weight: bold;
  -fx-pref-width: 159.0;
  -fx-pref-height: 31.0;
}

.button:hover {
  -fx-background-color: #e3c66d;
  -fx-background-radius: 7;
  -fx-font-size: 15;
  -fx-text-fill: #56503E;
  -fx-font-weight: bold;
}

.label {
  -fx-text-fill: #e1be66;
  -fx-font-weight: bold;
}

.text-field {
  -fx-background-color: #845650;
  -fx-text-fill: #efcf74;
  -fx-border-color: #471c09;
  -fx-background-radius: 7;
}

.text-area .content {
  -fx-background-color: #845650;
  -fx-border-color: #471c09;
}

.text-area {
  -fx-text-fill: #efcf74;
}

.menu-button {
  -fx-background-color: #845650;
  -fx-text-fill: #efcf74;
  -fx-border-color: #471c09;
}

.table-row-cell {
  -fx-background-color: transparent;
  -fx-text-fill: #efcf74;
}

.table-row-cell:odd {
  -fx-background-color: transparent;
  -fx-opacity: 0.8;
  -fx-text-fill: #efcf74;
}

.list-view, .list-view .list-cell {
  -fx-background-color: #845650;
  -fx-text-fill: #efcf74;
  -fx-font-weight: bold;
  -fx-border-color: #471c09;
}

.list-view .list-cell:odd {
  -fx-background-color: #ab645b;
  -fx-text-fill: #efcf74;
  -fx-font-weight: bold;
  -fx-border-color: #471c09;
}

.list-view .list-cell:selected {
  -fx-background-color: #efcf74;
  -fx-text-fill: #ab645b;
  -fx-font-weight: bold;
}
